---
---

@import "onepage-scroll";

html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}

@mixin bg-size($str) {
    -moz-background-size: $str;
    -webkit-background-size: $str;
    -o-background-size: $str;
    background-size: $str;
}


body {
    @extend html;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url("{{ site.baseurl }}/images/bg.jpg") fixed;
    @include bg-size(cover);
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

.container {
    padding: 0 10%;
    width: 80%;
    text-align: center;

    h2 {
        margin: 0 auto 1em;
        padding: 1em;
        text-align: left;
        border-bottom: 1px solid #555;
    }
}

#entrance {
    @extend .container;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    .topbar {
        background-color: #434343;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 2px 2px #343434;

        h1 {
            display: inline-block;
            padding: 1em;
            margin: 0 5% 0 auto;
            font-size: 1.5em;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        nav {
            display: inline-block;

            ul {
                display: inline-block;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;

                    a {
                        padding: 1em;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .slogan {
        h2 {
            position: relative;
            margin: 0 auto;
            padding: .5em;
            top: 20vh;
            font-size: 2.5em;
            color: #fff;
            text-align: center;
            font-weight: 400;
            letter-spacing: .25em;
            border:none;
        }

        p {
            position: relative;
            top: 20vh;
            font-size: 1.75em;
            color: #fff;
        }
    }
}

#tutorial {
    @extend .container;
    height: 100vh;
    background-color: #eee;

    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 50px 25px;
            padding: 5px;
            width: 25%;
            border: 1px solid #46A3FF;

            a {
                display: block;
                padding: 80px 2.5%;
                background-color: rgba(255,255,255,0.75);
                color: #434343;
                text-decoration: none;

                span
                {
                    display: block;
                    margin: 1em auto;
                    font-size: 1.25em;

                    &.zh {
                        font-weight: 600;
                        font-size: 1.75em;
                    }
                }
            }
        }
    }
}

#community {
    @extend .container;
    height: 100vh;
    background-color: #fff;

    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 25px;
            width: 20%;
            border: 1px solid #222;
            border-radius: 25px;

            a {
                display: block;
                padding: 20px 2.5%;
                background-color: rgba(255,255,255,0.75);
                color: #434343;
                text-decoration: none;
                border-radius: 25px;

                img {
                    width: 80%;
                }

                span {
                    display: block;
                    margin: .5em auto;
                    font-size: 1.25em;
                }
            }
        }
    }
}

#contribution {
    @extend .container;
    height: 80vh;
    background-color: #eee;

    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: 25px;
            width: 20%;

            a {
                display: block;
                padding: 20px 2.5%;

                color: #434343;
                text-decoration: none;

                img {
                    margin-bottom: 1em;
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                }

                span {
                    display: block;
                    margin: .5em auto;
                    font-size: 1.25em;
                }
            }
        }
    }
}

footer {
    height: 12.5vh;
    width: 80%;
    background-color: #000;
    padding: 5vh 10% 2.5vh;

    div {
        margin-bottom: 1em;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    img {
        float: right;
    }
}


@import "layout";
