<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} - {% endif %}Linux Taiwan</title>
    <meta name="description" content="Linux 台灣社群支援站">

    <link rel="icon" href="{{ site.baseurl }}/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon.png"> 
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
</head>
